# Pastas de Ambiente Virtual e Dependencias
venv/
node_modules/
__pycache__/

# Arquivos compilados e de sistema
*.pyc
.DS_Store
dist/

# Cache do Navegador (O Grande Culpado)
backend/chrome_cache/

# Screenshots de erro (nao precisamos salvar isso no historico)
backend/*.png
