# Ignorar Cache do Chrome (CRÍTICO)
*/chrome_cache
*/uploads/
*/__pycache__/
*/venv/
*/dist/
*/*.spec

# Ignorar Node Modules (anywhere)
*/node_modules/
*/dist/

# Ignorar logs e temporários
*.log
.DS_Store