# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- DISTRIBUIÇÃO & BUILD (LIXO) ---
build/
dist/
*.spec

# --- FRONTEND (NODE) ---
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env

# --- ARQUIVOS DE SISTEMA ---
.DS_Store
Thumbs.db
